@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.overflow {
  overflow: hidden;
}

body {
  font-size: 16px;
  font-family: "Nunito", Arial, sans-serif;
  background-color: #f2f2f2;
  color: white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.sideBar {
  display: none;
}

/************
*   HEADER
*************/
.headerMobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #7FC8F5;
  height: 75px;
  text-align: center;
}
.headerMobile div {
  text-align: left;
}
.headerMobile div .avatar {
  display: inline-block;
  width: 50px;
  margin-left: 10px;
}
.headerMobile h1 span {
  display: flex;
  gap: 2px;
  margin: -17px 0 0 31px;
}
.headerMobile h1 span img {
  width: 24px;
}
.headerMobile > :nth-child(1n) {
  width: 110px;
}
.headerMobile .navButton {
  border: none;
  background-color: transparent;
  text-align: right;
  margin-right: 10px;
}
.headerMobile .navBurguer {
  width: 40px;
}

/**********
*   NAV
**********/
#closeNav {
  visibility: hidden;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 300ms;
}
#closeNav.onScreen {
  background-color: rgba(0, 0, 0, 0.4);
}
#closeNav.visibility {
  visibility: visible;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 47%;
  height: 100%;
  background-color: #7FC8F5;
  padding: 0 5px;
  z-index: 1;
  overflow: scroll;
  transition: right 200ms ease-in;
}
.nav.display {
  display: none;
}
.nav.opened {
  right: 0;
}
.nav > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8%;
  margin-bottom: -10px;
}
.nav > div h3 {
  font-size: 0.9em;
  width: 75%;
  padding: 2px 5px;
  background-color: #60b1e2;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}
.nav > div img {
  width: 27px;
  cursor: pointer;
}
.nav h2 {
  margin-left: 5px;
}
.nav .lists .list {
  margin-left: 15px;
}
.nav .lists .list div#openCloseList {
  display: flex;
  gap: 7px;
  cursor: pointer;
}
.nav .lists .list div#openCloseList img {
  width: 9px;
  transition: all 250ms ease-in-out;
}
.nav .lists .list div#openCloseList img.openCloseNavListBtn {
  transform: rotate(90deg);
}
.nav .lists .list .navList {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 400ms ease-in-out;
}
.nav .lists .list .navList.openCloseNavList {
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.nav .lists .list .navList .listLines {
  display: flex;
  gap: 3px;
}

/**********
*   MAIN
***********/
#creatListFocus {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 300ms;
}
#creatListFocus.onScreen {
  display: block;
}

.main .listsContainer .containerList {
  background-color: #fff;
  width: 88%;
  margin: 15px auto;
  border-radius: 11px;
  border: 2px solid #62abe7;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.125);
}
.main .listsContainer .containerList .listHeader {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #62abe7;
  width: 100%;
  padding: 5px;
  border-radius: 6px 6px 0 0;
}
.main .listsContainer .containerList .listHeader .creatLine {
  position: absolute;
  right: 15px;
  font-size: 1.1em;
  font-weight: bold;
}
.main .listsContainer .containerList ul {
  color: black;
}
.main .listsContainer .containerList ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #62abe7;
}
.main .listsContainer .containerList ul li .checkBoxLine {
  position: relative;
  background-color: #62abe7;
  border: 2px solid #62abe7;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.main .listsContainer .containerList ul li .checkBoxLine::after {
  position: absolute;
  top: -6px;
  content: "✓";
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}
.main .listsContainer .containerList ul li .checkBoxLine .unchecked {
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: background-color 500ms;
}
.main .listsContainer .containerList ul li .checkBoxLine .unchecked.checked {
  background-color: #62abe7;
}
.main .listsContainer .containerList ul li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 94%;
}
.main .listsContainer .containerList ul li div .removeLine {
  color: gray;
  margin-right: 6px;
}
.main .creatListBtn {
  display: block;
  background-color: white;
  color: gray;
  font-size: 1.5em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15vh auto;
  border: 1px solid gray;
}
.main .creatListContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0052cc;
  background-color: #fff;
  width: 80%;
  max-height: 90%;
  padding: 15px 20px;
  z-index: 1;
  border-radius: 15px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2196078431);
}
.main .creatListContainer.showCreatListContainer {
  display: block;
}
.main .creatListContainer div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.main .creatListContainer div:first-child h3 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 0px;
}
.main .creatListContainer div:first-child span {
  font-size: 1.1em;
  font-weight: bold;
  width: 25px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.main .creatListContainer .creatListInput {
  border: none;
  outline: none;
  font-size: 1.1em;
  width: 80%;
  height: 100%;
}
.main .creatListContainer .creatListInput::-moz-placeholder {
  color: #0052cc;
  font-size: 0.9em;
}
.main .creatListContainer .creatListInput::placeholder {
  color: #0052cc;
  font-size: 0.9em;
}
.main .creatListContainer .creatListInput.empty::-moz-placeholder {
  color: red;
}
.main .creatListContainer .creatListInput.empty::placeholder {
  color: red;
}
.main .creatListContainer h4 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 8px 0 2px;
}
.main .creatListContainer .listName {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 82, 204, 0.2941176471);
}
.main .creatListContainer .listName label {
  height: 30px;
}
.main .creatListContainer .listName label img {
  width: 20px;
}
.main .creatListContainer .listName input {
  color: #0052cc;
}
.main .creatListContainer .createdTasksList .listTask {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  margin-bottom: 4px;
}
.main .creatListContainer .createdTasksList .listTask span {
  font-size: 2.15em;
  font-weight: 300;
  text-align: center;
}
.main .creatListContainer .createdTasksList {
  border-bottom: 2px solid rgba(0, 82, 204, 0.2941176471);
  max-height: 382px;
  overflow-y: auto;
}
.main .creatListContainer .createdTasksList :last-child {
  padding-bottom: 8px;
  cursor: pointer;
}
.main .creatListContainer .createdTasksList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(99, 99, 99);
  font-size: 1.1em;
  min-height: 35px;
}
.main .creatListContainer .createdTasksList li.remove {
  display: none;
}
.main .creatListContainer .createdTasksList li span {
  margin-right: 13px;
}
.main .creatListContainer input[type=button] {
  display: block;
  border: none;
  color: white;
  background: #0052cc;
  margin: 12px auto 0;
  padding: 8px 10px;
  border-radius: 1px;
  cursor: pointer;
}
.main .confirmExitBgContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 2;
}
.main .confirmExitBgContainer.appearConfirmExitBg {
  display: block;
}
.main .confirmExitBgContainer .confirmExitContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  max-width: 250px;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}
.main .confirmExitBgContainer .confirmExitContainer p {
  color: rgb(58, 58, 58);
  font-weight: bold;
  margin-bottom: 7px;
}
.main .confirmExitBgContainer .confirmExitContainer div {
  display: flex;
  gap: 5px;
}
.main .confirmExitBgContainer .confirmExitContainer div input {
  border: none;
  font-size: 14px;
  font-weight: bold;
  font-family: "Nunito", Arial, sans-serif;
  border-radius: 2px;
}
.main .confirmExitBgContainer .confirmExitContainer div input:first-of-type {
  background-color: #0052cc;
  color: rgb(255, 255, 255);
  padding: 2px 8px;
}
.main .confirmExitBgContainer .confirmExitContainer div input:first-of-type:hover {
  background-color: rgb(0, 33, 143);
}
.main .confirmExitBgContainer .confirmExitContainer div input:last-of-type {
  background-color: rgb(219, 219, 219);
  color: black;
  padding: 2px 5px;
}
.main .confirmExitBgContainer .confirmExitContainer div input:last-of-type:hover {
  background-color: rgb(161, 161, 161);
}/*# sourceMappingURL=main.css.map */